<center><h1>Add Candy</h1><center><br><br><br><br>
  <form method="post" action="/candy/<%= @bag.id %>">
    <p>Candy name:</p> <input type="text" name="name"><br>
    <br>
    <center><p>Candy Rating:</p></center>
    <input type="radio" name="rating" value="1"> 1
    <input type="radio" name="rating" value="2"> 2
    <input type="radio" name="rating" value="3"> 3
    <input type="radio" name="rating" value="4"> 4
    <input type="radio" name="rating" value="5"> 5
    <br><br>
    <input type="submit" name="" value="Trick-or-Treat!">
  </form>
