<center><h1> <%= @user.username %>'s <%= @bag.name %> bag</h1><center>
<center><p>Look at all of this candy!</p></center><br><br><br><br>
<br><br><br><br><br><br>
<a href="/candy/new">Add Candy</a>
<a href="/candy/delete">Remove Candy</a>
<br><br>
<center><p>Rate this bag:</p></center>
<input type="radio" name="rating" value="1"> 1
<input type="radio" name="rating" value="2"> 2
<input type="radio" name="rating" value="3"> 3
<input type="radio" name="rating" value="4"> 4
<input type="radio" name="rating" value="5"> 5
<input type="submit" name="" value="submit">
