<center><h1> Welcome, <%= @user.username %></h1><center><br><br><br><br>
<img src="/stylesheets/your_bags.PNG" style="height:100px;"><br><h3 style="color:orange"><a href="/bags/<%= @user.username%>">Your Bags</a></h3><br>
<img src="/stylesheets/public_bags.PNG" style="height:100px;"><br><h3 style="color:orange"><a href="/bags/public">Public Bags</a></h3><br>
<img src="/stylesheets/door.jpg" style="height:100px;"><br><h3 style="color:orange"><a href="/logout">Log out</a></h3><br>
