<center><h1>Create a new bag</h1><center><br><br><br><br>
  <form method="post" action="/bags">
    <p>Bag name:</p> <input type="text" name="name"><br>
    <br>
    <button type="submit" value="submit">Create</button>
  </form>
<br><br><br>
  <a href="/bags">Home</a>
