<center><img src="/stylesheets/logo.jpg" style="height:100px;"><br><h1 style="color:orange">CANDYBAG </h1></center>
<br>
<p align="center"style="color:black">
&nbsp &nbsp Take a peek at some tasty treats. Lots of candy, savory and sweet.<br>
Welcome to CANDYBAG. A website where you can keep track of your favorite Halloween candy.
</p>
<form action="/login" align="center">
    <input type="submit" value="Log in" />
</form><br><br>
<form action="/signup" align="center">
    <input type="submit" value="Sign up" />
</form>
